services:
  postgres:
    image: postgres:15
    container_name: to-the-moon-db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - '5432:5432'
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${POSTGRES_USER}']
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  migrate:
    build:
      context: ../database
      dockerfile: Dockerfile
    container_name: to-the-moon-migrate
    environment:
      DB_USER: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      DB_NAME: ${POSTGRES_DB}
      DB_HOST: ${POSTGRES_HOST}
      DB_PORT: ${POSTGRES_PORT}
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network

  api:
    build:
      context: ../api
      dockerfile: Dockerfile
      args:
        LISTEN_PORT: ${API_LISTEN_PORT}
    container_name: to-the-moon-api
    ports:
      - '${API_LISTEN_PORT}:${API_LISTEN_PORT}'
    environment:
      NODE_ENV: ${API_NODE_ENV}
      STAGE: ${API_STAGE}
      LISTEN_PORT: ${API_LISTEN_PORT}
      REQUEST_TRACE_HEADER: x-trace
      DB_HOST: ${API_DB_HOST}
      DB_PORT: ${API_DB_PORT}
      DB_NAME: ${API_DB_NAME}
      DB_USER: ${API_DB_USER}
      DB_PASSWORD: ${API_DB_PASSWORD}
      DB_DIALECT: ${API_DB_DIALECT}
    depends_on:
      migrate:
        condition: service_completed_successfully
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
